@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');


.div-1 {
        background-color: #FFFFFF;
        width: 100%;
        z-index: 10;
        top: 0;
        left: 0;
        position: absolute;
    }
    
.div-2 {
        background-color: #F2CC8F;
        width: 100%;
        z-index: 10;
        top: 0;
        left: 0;
        position: absolute;
    }


.footer {
	/*padding: 10px 0;*/
	text-align:right;
	padding: 5px 0;
	width:auto;
	margin: 0 auto;
	background-color: #047CFC;
	color: #fff;
	position: relative;/* this gives IE6 hasLayout to properly clear */
	clear: both; /* this clear property forces the .container to understand where the columns end and contain them */
}


small { 
 color: #242424;
 font-size: 20px;
 font-family: 'Open Sans';
 font-weight: 800;
}


small_1 { 
 color: #242424;
 font-size: 20px;
 font-family: 'Open Sans';
 font-weight: 800;
}