@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

 /*------------- Whole Document---------------- */

body {
    font-family: 'Oswald';
    font-size: 19px;
    padding: 0;
    margin: 0;
}

/*----------------- links ---------------------*/

a { 
  color: #264653;
}

 a:hover {
    color: #2A9D8F; /* darker color when hovering */
  }

/*----------------- font-color ---------------------*/  
h1 {
 color: #3f3f3f;
}

h2 {
 color: #3f3f3f;
}

h3 {
 color: #3f3f3f;
}

p { 
 color: #3f3f3f;
}




/*----------------- background-color ---------------------*/  
.wide { 
    width: 100%;
}
